*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    color: white;
}

#azul{
    background: rgb(24, 185, 177);
    padding: 20px;
}

#azul-3{
    background: rgb(52, 89, 104);
    padding: 20px;
    height: 300px;
}

#cinza{
    background: rgb(82, 152, 180);
    height: 300px;
}

#red{
    background: rgb(202, 134, 88);
    padding: 50px;
}

#preto{
    background: rgb(204, 200, 148);
    padding: 80px;
}

.col-12, .col-8, .col-4, .col-3, .col-2{
    border: 5px solid white;
}